.navbar {
    background-color: $bgColor;
    color: $secondaryColor;
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid $primaryColor;
    height: 8vh;
    


    .left-navbar{
        display: flex;
        align-items: center;
    
        h1{
            margin: 25px;
            font-size: 2rem;
            span {
                color: $primaryColor;
            }
        }
    }

    .right-navbar{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            list-style: none;
            
            .active{
                color: $primaryColor;
            }
            
            
            li{
                padding: 0 1.5rem;

                a{
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: $secondaryColor;
                    text-transform: uppercase;
                    
                    &:hover{
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
}