.banner{
    background-image: url(../../images/showcase.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
    color: $secondaryColor;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    

    #name{        
        font-size: 3.5rem;
        font-weight: bold;
        padding: 1.5rem;
    }

    #description{
        font-size: 1.2rem;
        line-height: 2rem;      
    } 

}

.subscribe{
    background-color: $bgColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2.5rem;
    height: 12vh;
    p{
        color: $secondaryColor;
        font-size: 1.5rem;
        font-weight: bold;
    }

}

.input {
    // height: 30px;
    width: 250px;
    border: none;
    outline: none;
    padding: 0.75rem;
}

.button{
    background-color: $primaryColor;
    color: $secondaryColor;
    border: none;
    outline: none;
    padding: 0.75rem;
}

.logo{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: $bgCard;
    height: 25vh;
    .box{
        margin-top: 20px;
        padding: 25px 0;
        width: 500px;

        h3 {
            margin: 20px;
        }

        p{
            line-height: 1.5rem;
        }

        img{
            width: 90px;
        }
    }
}